{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended"
  ],
  "plugins": ["prettier", "react-hooks"],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "__PATH_PREFIX__": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/react-in-jsx-scope": "off", // TODO
    "react/no-unescaped-entities": "off",
    "react/prop-types": "off",
    "no-unused-vars": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
